NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173

MONGO_URL=mongodb+srv://oyinloyepeter273_db_user:MRWRi3C4xA5wzHaJ@cluster0.kp6khjh.mongodb.net/Great_Minds_International_School_db?appName=Cluster0
JWT_SECRET=01ad13d63a2c169592782c6f15fd2fd2cb3c4838f327873c8bc6bffc3a78dc36
ARCJET_KEY=ajkey_01m175hxw4e4rrp17jpx3ab9r7

CLOUDINARY_CLOUD_NAME=Great Minds International School
CLOUDINARY_API_KEY=535723562296159
CLOUDINARY_API_SECRET=Bo9E5F7Zi938U_Cx24EpmF3RB5g

RESEND_API_KEY=re_6haXyXLa_AoHVGH6CLdiE8qwhnCZdVS9Y
EMAIL_FROM_NAME=Great Minds International School
EMAIL_FROM=Great Minds International School
NODEMAILER_USERNAME=Great Minds International School
NODEMAILER_PASSWORD=ftmw dteb sjnq djtn

# Add these when the application payment provider is implemented.
PAYSTACK_SECRET_KEY=
